{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <!-- Mostrando itens do carrinho -->
    {% if not cartItems %}
        <h2 class="text-center text-danger fw-bold mb-4">No product added</h2>
    {% else %}
        {% for item in cartItems %}
            <div class="card mb-3 p-3 shadow-sm">
                <h5>{{ item['nome'] }}</h5>
                <p>Unit price: R$ {{ item['preco_unitario'] }}</p>
                <p>quantity: {{ item['quantidade'] }}</p>
                <p>Total: R$ {{ item['preco_total'] }}</p>
                <p>Preparation time: {{ item['tempo_preparo_total'] }} min</p>
                
                <!-- Botão excluir -->
                <form method="POST" action="/delete_item_cart">
                    <input type="hidden" name="item_id" value="{{ item['id'] }}">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </div>
        {% endfor %}
        <div class="mt-4 p-3 bg-light rounded shadow-sm">
            <h4 class="fw-bold">Order summary</h4>
            <p>Full value: <strong>R$ {{ totals['total_preco'] }}</strong></p>
            <p>Total preparation time: <strong>{{ totals['total_tempo'] }}</strong></p>
        </div>
    {% endif %}
{% endblock %}