<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootsatrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #B22222;" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/pizza.png" alt="pizza" width="50" height="44">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"></li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="text-center text-danger fw-bold mb-4">Best selling pizzas</h2>
        <div class="row">
            {% for pizza in pizzas %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ pizza.imagem }}" class="card-img-top pizza-img" alt="{{ pizza.nome }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.nome }}</h5>
                        <p class="card-text">{{ pizza.descricao }}</p>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalPizza{{ pizza.id }}">
                            Adicionar ao carrinho
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal para cada pizza -->
            <div class="modal fade" id="modalPizza{{ pizza.id }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ pizza.nome }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ pizza.descricao }}</p>
                            <p><img src="{{ pizza.imagem }}" width="150"></p>

                            <form method="post" action="/add_carrinho">
                                <input type="hidden" name="pizza_id" value="{{ pizza.id }}">

                                <label for="tamanho">Choose the size:</label>
                                <select name="tamanho_id" class="form-select">
                                    <option value="" disabled selected>Size</option>
                                    {% for t in pizza.tamanhos %}
                                    <option value="{{ t.id }}">
                                        {{ t.tamanho }} - R$ {{ t.preco }} - {{ t.tempo_preparo }} min
                                    </option>
                                    {% endfor %}
                                </select>

                                <br>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>