<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootsatrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Cart</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #B22222;" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/pizza.png" alt="pizza" width="50" height="44">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li>
                        {% if session.get('user_id') %}
                            <a class="btn btn-danger" href="/logout">Logout</a>
                        {% endif %}
                    </li>
                    <li class="nav-item"></li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="text-center text-danger fw-bold mb-4">All pizzas</h2>
        <div class="row">
            {% for pizza in pizzas %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ pizza.imagem }}" class="card-img-top pizza-img" alt="{{ pizza.nome }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.nome }}</h5>
                        <p class="card-text">{{ pizza.descricao }}</p>
                        <p class="card-text">Preparation time: <strong>{{ pizza.tempo_preparo }} min</strong></p>
                        <h5 class="card-text fw-bold text-success">R$ {{ "%0.2f" | format(pizza.preco) | replace(".", ",") }}</h5>

                        <form method="post" action="/add_cart">
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                {{ error }}
                                </div>
                            {% endif %}
                            <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
                            <div class="d-flex align-items-end gap-3 mb-3">
                                <!-- Quantidade -->
                                <div class="w-30">
                                    <label class="form-label fw-bold">Quantity:</label>
                                    <input type="number" class="form-control quantidade" name="quantity" min="1" max="99" value="1">
                                </div>
                                <!-- Botão -->
                                <div class=flex-grow-1>
                                    <button type="submit" class="btn btn-success w-100">Add to Cart</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>