<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootsatrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    
    <title>Sign In</title>

</head>
<body class="d-flex justify-content-center align-items-center min-vh-100 py-4 bg-body-tertiary">
  <main class="form-signin w-100" style="max-width: 330px;">
    <form method="post" action="/">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}

      <img class="mb-4 mx-auto d-block" src="../static/pizza.png" alt="Bootstrap" width="72" height="57" />
      <h1 class="h3 mb-3 fw-normal text-center">Sign up</h1>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" name="name" placeholder="Full name" />
        <label for="floatingName">Full name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com" />
        <label for="floatingEmail">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPasswordConfirm" name="passwordConfirmation" placeholder="Password confirmation" />
        <label for="floatingPasswordConfirm">Password confirmation</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>

      <p class="mt-5 mb-3 text-body-secondary text-center">© 2025</p>

    </form>
  </main>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>